# keep what i need first
**/*
!dist/**
!icon.png
!package.json
!README.md
!readme.md
!LICENSE*
!CHANGELOG.md
!changelog.md

# then ignore everything i dont need
pnpm-lock.yaml
src/**
.vscode/**
.github/**
*.map
test/**
out/**
webpack.config.js
tsconfig.json
.eslintrc*
